/sensors.js
/config.js
.idea/*
.idea
*.map
images/slides/london.png
/images/bg4.png
*.db
.DS_Store
node_modules
dist
tsconfig.tsbuildinfo

.worktrees

# local reference config
/public/config/reference_config.js
/public/config/reference_config_react.js
